<div class="relative">
  <%= render "shared/hero" %>

  <!-- Avantage Deleguer votre recherche -->
  <div class="flex flex-col py-20 bg-gray-100">
    <div class="flex flex-row justify-center items-center">

      <div class="bg-transparent max-w-xl ">
        <!-- <img src="https://source.unsplash.com/random" alt="" class="w-full h-full rounded-md object-cover"> -->
        <img src="https://source.unsplash.com/collection/10469529" alt="" class="w-full h-full rounded-3xl object-cover">
      </div>

      <div class="relative">
        <div class="absolute inset-0 bg-white shadow-lg transform -skew-y-6 sm:skew-y-0 sm:rotate-6 sm:rounded-3xl"></div>
        <div class="relative px-4 py-10 bg-transparent sm:px-20">
          <div class="max-w-md mx-auto">
             <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
              <h1 class="text-4xl tracking-tight font-light sm:text-2xl md:text-3xl">
                <span class="block text-indigo-600 font-bold xl:inline">Déléguer</span>
                <span class="block xl:inline">votre recherche</span>
                <span class="block xl:inline">via nos annonces récompensées !</span>
              </h1>
              <br/>
              <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
                Spotiit est la 1ère plateforme de publication d’annonce basée sur la recherche collaborative et qui récompense réellement l’entraide. 
              </p>
              <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
                Vous voulez trouver un bien, un profil, un emploi ou un service et vous êtes prêt(e) à récompenser la personne qui vous y aidera ?
              </p>
              <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
                C’est à vous de proposer la somme qui sera versée en récompense. Et vous ne payez qu’en cas de succès.
              </p>
              <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
                Maîtrisez votre budget !
              </p>
             </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Avantage Economisez votre temps -->
  <div class="flex flex-col py-10 bg-gray-100">
    <div class="flex flex-row justify-center items-center">

      <div class="relative">
        <div class="absolute inset-0 bg-white shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"></div>
        <div class="relative px-4 py-10 bg-transparent sm:px-20">
          <div class="max-w-md mx-auto">
             <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
              <h1 class="text-4xl tracking-tight font-light sm:text-2xl md:text-3xl">
                <span class="block text-indigo-600 font-bold xl:inline">Économisez</span>
                <span class="block xl:inline">votre temps !</span>
              </h1>
              <br/>
              <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
                Avec Spotiit, vous n’avez qu’à faire part à la communauté de vos besoins et celle-ci vous apportera la solution. 
              </p>
              <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
                Spotiit met à votre disposition un panel de professionnels et de particuliers diversifié qui intervient dans tous les domaines (Emploi, Immobilier, Garde d’enfant etc…)
              </p>
              <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
                Les Helpers sont disponibles pour vous connecter à leurs réseaux : Professionnel, Familial, Amical et Social.
              </p>
             </div>
          </div>
        </div>
      </div>

      <div class="bg-transparent max-w-xl">
        <img src="https://source.unsplash.com/collection/9376726" alt="" class="w-full h-full rounded-3xl object-cover">
      </div>

    </div>
  </div>

  <!-- Comment ça marche? -->
  <div class="min-w-screen flex items-center justify-center">
      <div class="w-full bg-gray-100 border-b border-gray-200 px-5 py-10 md:py-24 text-gray-800">
          <div class="w-full max-w-6xl mx-auto">
              <div class="text-center max-w-xl mx-auto">
                  <h1 class="text-6xl md:text-7xl font-bold mb-20 text-gray-600">Comment ça marche ?</h1>
              </div>
          </div>

          <div class="-mx-3 md:flex items-start">

            <div class="px-3 md:w-1/5">
              <div class="max-w-xs p-8 bg-gray-50 shadow-lg rounded-xl">
                <div>
                  <h2 class="text-3xl font-bold text-indigo-500">1</h2>
                  <p class="mt-2 text-gray-600">Décrivez votre besoin en créant votre annonce gratuitement</p>
                </div>
                <!-- <div class="flex justify-end mt-4">
                  <a href="#" class="text-xl font-medium text-indigo-500">John Doe</a>
                </div> -->
              </div>
            </div>

            <div class="px-3 md:w-1/5">
              <div class="max-w-xs p-8 bg-white shadow-lg rounded-xl ">
                <div>
                  <h2 class="text-3xl font-bold text-indigo-500">2</h2>
                  <p class="mt-2 text-gray-600">Fixer votre récompense !</p>
                </div>
                <!-- <div class="flex justify-end mt-4">
                  <a href="#" class="text-xl font-medium text-indigo-500">John Doe</a>
                </div> -->
              </div>
            </div>

            <div class="px-3 md:w-1/5">
              <div class="max-w-xs p-8 bg-white shadow-lg rounded-xl ">
                <div>
                  <h2 class="text-3xl font-bold text-indigo-500">3</h2>
                  <p class="mt-2 text-gray-600">Les helpers se mobilisent et  vous proposent une pré-sélection</p>
                </div>
                <!-- <div class="flex justify-end mt-4">
                  <a href="#" class="text-xl font-medium text-indigo-500">John Doe</a>
                </div> -->
              </div>
            </div>

            <div class="px-3 md:w-1/5">
              <div class="max-w-xs p-8 bg-white shadow-lg rounded-xl ">
                <div>
                  <h2 class="text-3xl font-bold text-indigo-500">4</h2>
                  <p class="mt-2 text-gray-600">Vous choisissez l’offre qui vous convient le mieux</p>
                </div>
                <!-- <div class="flex justify-end mt-4">
                  <a href="#" class="text-xl font-medium text-indigo-500">John Doe</a>
                </div> -->
              </div>
            </div>

            <div class="px-3 md:w-1/5">
              <div class="max-w-xs p-8 bg-white shadow-lg rounded-xl ">
                <div>
                  <h2 class="text-3xl font-bold text-indigo-500">5</h2>
                  <p class="mt-2 text-gray-600">La prime est versée qu’en cas de succès !</p>
                </div>
                <!-- <div class="flex justify-end mt-4">
                  <a href="#" class="text-xl font-medium text-indigo-500">John Doe</a>
                </div> -->
              </div>
            </div>

          </div>

      </div>
  </div>

  <!-- Témoignages -->
  <div class="min-w-screen flex items-center justify-center ">
      <div class="w-full bg-white border-t border-b border-gray-200 px-5 py-16 md:py-24 text-gray-800">
          <div class="w-full max-w-6xl mx-auto">
              <div class="text-center max-w-xl mx-auto">
                  <h1 class="text-6xl md:text-7xl font-bold mb-5 text-gray-600">Ce qu'ils disent de nous</h1>
              </div>
          </div>

          <div class="py-10 md:flex items-start">

            <div class="px-3 md:w-1/3">
              <div class="w-full mx-auto rounded-lg bg-white shadow-lg px-5 pt-5 pb-10 text-gray-800" style="max-width: 500px">
                  <div class="w-full pt-1 pb-5">
                      <div class="overflow-hidden rounded-full w-20 h-20 -mt-16 mx-auto shadow-lg">
                          <img src="https://source.unsplash.com/collection/10445225" alt="">
                      </div>
                  </div>
                  <div class="w-full mb-10">
                      <div class="text-3xl text-indigo-500 text-left leading-tight h-3">“</div>
                      <p class="text-sm text-gray-600 text-center px-5">Un helper de Spotiit m’a mis en contact avec une famille avec qui je travaille depuis maintenant 2 ans, je suis ravie !</p>
                      <div class="text-3xl text-indigo-500 text-right leading-tight h-3 -mt-3">”</div>
                  </div>
                  <div class="w-full">
                      <p class="text-md text-indigo-500 font-bold text-center">Monique - 40 ans</p>
                      <p class="text-xs text-gray-500 text-center">Assistante maternelle</p>
                  </div>
              </div>
            </div>

            <div class="px-3 md:w-1/3">
              <div class="w-full mx-auto rounded-lg bg-white shadow-lg px-5 pt-5 pb-10 text-gray-800" style="max-width: 500px">
                  <div class="w-full pt-1 pb-5">
                      <div class="overflow-hidden rounded-full w-20 h-20 -mt-16 mx-auto shadow-lg">
                          <img src="https://source.unsplash.com/collection/343176" alt="">
                      </div>
                  </div>
                  <div class="w-full mb-10">
                      <div class="text-3xl text-indigo-500 text-left leading-tight h-3">“</div>
                      <p class="text-sm text-gray-600 text-center px-5">Spotiit c'est une référence pour mes collègues et moi-même. J'y trouve régulièrement de nouveaux clients grâce au réseau de particuliers.</p>
                      <div class="text-3xl text-indigo-500 text-right leading-tight h-3 -mt-3">”</div>
                  </div>
                  <div class="w-full">
                      <p class="text-md text-indigo-500 font-bold text-center">Elise - 27 ans</p>
                      <p class="text-xs text-gray-500 text-center">Architecte</p>
                  </div>
              </div>
            </div>

            <div class="px-3 md:w-1/3">
              <div class="w-full mx-auto rounded-lg bg-white shadow-lg px-5 pt-5 pb-10 text-gray-800" style="max-width: 500px">
                  <div class="w-full pt-1 pb-5">
                      <div class="overflow-hidden rounded-full w-20 h-20 -mt-16 mx-auto shadow-lg">
                          <img src="https://source.unsplash.com/collection/458030" alt="">
                      </div>
                  </div>
                  <div class="w-full mb-10">
                      <div class="text-3xl text-indigo-500 text-left leading-tight h-3">“</div>
                      <p class="text-sm text-gray-600 text-center px-5">J’ai trouvé mon premier travail après moins d'une semaine de recherches. Et tout cela grâce au réseau d’un Helpeur. Merci pour tout !</p>
                      <div class="text-3xl text-indigo-500 text-right leading-tight h-3 -mt-3">”</div>
                  </div>
                  <div class="w-full">
                      <p class="text-md text-indigo-500 font-bold text-center">Eric - 34 ans</p>
                      <p class="text-xs text-gray-500 text-center">Diplômé d’école de commerce</p>
                  </div>
              </div>
            </div>

          </div>

      </div>
  </div>

  <!-- Avantage Gagnez de l'argent -->
  <div class="flex flex-col py-20 bg-gray-100">
    <div class="flex flex-row justify-center items-center">

      <div class="bg-transparent max-w-xl">
        <!-- <img src="https://source.unsplash.com/random" alt="" class="w-full h-full rounded-md object-cover"> -->
        <img src="https://source.unsplash.com/collection/9390872" alt="" class="w-full h-full rounded-3xl object-cover">
      </div>

      <div class="relative">
        <div class="absolute inset-0 bg-white shadow-lg transform -skew-y-6 sm:skew-y-0 sm:rotate-6 sm:rounded-3xl"></div>
        <div class="relative px-4 py-10 bg-transparent sm:px-20">
          <div class="max-w-md mx-auto">
             <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
              <h1 class="text-4xl tracking-tight font-light sm:text-2xl md:text-3xl">
                <span class="block xl:inline">Gagnez de </span>
                <span class="block text-indigo-600 font-bold xl:inline">l’argent ?!</span>
              </h1>
              <br/>
              <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
                Chaque utilisateur de la plateforme peut être un intermédiaire en mettant ses compétences et/ou son réseau au service de la communauté et devenir Helper.
              </p>
              <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
                Votre entourage et vos relations valent de l’or, mettez-les à profit sur Spotiit et gagnez de l’argent en connectant les gens entre eux.
              </p>


             </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Footer -->
  <%= render "shared/footer" %>

</div>
