<%= render "shared/nav" %>
<h1> Modification de l'annonce Immobilière: <%= @propertyad.id %></h1>

<%= render partial:'inputform' , locals: {propertyad:@propertyad} %>

<p>
    <%= link_to "Annuler", :back %>
</p>
