<!-- Footer -->
<footer class="bg-white pt-10 sm:mt-10 pt-10">
    <div class="max-w-6xl m-auto text-gray-800 flex flex-wrap justify-left">

        <!-- Col-1 -->
        <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
            <!-- Col Title -->
            <div class="text-xs uppercase text-gray-500 font-medium mb-6">
                A propos
            </div>

            <!-- Links -->
            <!-- <a href="#" class="my-3 block text-gray-400 hover:text-gray-700 text-sm font-medium duration-700">
                Notre fonctionnement
            </a> -->

            <%= link_to "Notre fonctionnement", "/howitworks", class: "my-3 block text-gray-400 hover:text-gray-700 text-sm font-medium duration-700" %>

            <a href="#" class="my-3 block text-gray-400 hover:text-gray-700 text-sm font-medium duration-700">
                Qui sommes-nous ?
            </a>
        </div>

        <!-- Col-2 -->
        <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
            <!-- Col Title -->
            <div class="text-xs uppercase text-gray-500 font-medium mb-6">
                Communauté
            </div>

            <!-- Links -->
            <a href="#" class="my-3 block text-gray-400 hover:text-gray-700 text-sm font-medium duration-700">
                Accessibilité
            </a>
            <a href="#" class="my-3 block text-gray-400 hover:text-gray-700 text-sm font-medium duration-700">
                Diversité et intégration
            </a>

        </div>

        <!-- Col-3 -->
        <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
            <!-- Col Title -->
            <div class="text-xs uppercase text-gray-500 font-medium mb-6">
                Helpers
            </div>

            <!-- Links -->
            <a href="#" class="my-3 block text-gray-400 hover:text-gray-700 text-sm font-medium duration-700">
                Aider et être rémunéré
            </a>
            <a href="#" class="my-3 block text-gray-400 hover:text-gray-700 text-sm font-medium duration-700">
                Valoriser son réseau
            </a>
            <a href="#" class="my-3 block text-gray-400 hover:text-gray-700 text-sm font-medium duration-700">
                Centre de ressources
            </a>

        </div>

        <!-- Col-4 -->
        <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
            <!-- Col Title -->
            <div class="text-xs uppercase text-gray-500 font-medium mb-6">
                Assistance
            </div>

            <!-- Links -->
            <a href="#" class="my-3 block text-gray-400 hover:text-gray-700 text-sm font-medium duration-700">
                Tel : +33 00 00 00 00 00
            </a>
            <a href="#" class="my-3 block text-gray-400 hover:text-gray-700 text-sm font-medium duration-700">
                contact@spotiit.com
            </a>
            <a href="#" class="my-3 block text-gray-400 hover:text-gray-700 text-sm font-medium duration-700">
                Réseaux sociaux
            </a>

        </div>

    </div>
    <!-- Copyright Bar -->
    <div class="pt-2">
        <div class="flex pb-5 px-3 m-auto pt-5
            border-t border-gray-200 text-gray-400 text-sm
            flex-col md:flex-row max-w-6xl">
            <div class="mt-2">
                2021 Tous droits réservés.
            </div>

            <!-- Required Unicons (if you want) -->
            <!-- <div class="md:flex-auto md:flex-row-reverse mt-2 flex-row flex text-gray-400">
                <a href="#" class="w-6 mx-1">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#" class="w-6 mx-1">
                    <i class="uil uil-twitter-alt"></i>
                </a>
                <a href="#" class="w-6 mx-1">
                    <i class="uil uil-youtube"></i>
                </a>
                <a href="#" class="w-6 mx-1">
                    <i class="uil uil-linkedin"></i>
                </a>
                <a href="#" class="w-6 mx-1">
                    <i class="uil uil-instagram"></i>
                </a>
            </div> -->
        </div>
    </div>
</footer>
