<nav class="absolute inset-0 z-20 pt-8 max-w-7xl h-28 mx-auto">
  <div class="py-3 px-5 bg-white rounded-md shadow-2xl">
    <div class="sm:flex items-center justify-center">
      <div class="relative flex-auto sm:justify-start">

          <%= link_to(root_path) do %>
            <%= image_pack_tag("icons/spotiit_badge.svg", class:"inline-block w-auto w-8 h-8") %>
            <span class="inline-block ml-2 mr-8 text-base font-medium text-gray-500 hover:text-indigo-500">Spotiit</span>
          <% end %>

          <a href="/" class="block items-center justify-center p-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 sm:inline-block">Annonces Immo</a>
          <a href="/propertyads" class="block p-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 sm:inline-block">Annonces Vente Immo</a>
          <a href="/propertybuyads" class="block p-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 sm:inline-block">Annonces Achat Immo</a>
          <a href="#" class="block p-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 sm:inline-block">Users</a>

      </div>

      <div class="relative sm:justify-end">
        <%= link_to "Login", new_user_session_path, class: "inline-flex w-full px-5 py-3 sm:w-auto sm:inline-flex items-center justify-center text-base font-medium text-indigo-600 bg-gray-50 hover:bg-gray-100", key:"item.name" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "inline-flex w-full px-5 py-3 sm:w-auto sm:inline-flex items-center justify-center  border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700", key:"item.name" %>
      </div>

    </div>

  </div>
</nav>
