<div class="relative">
  <%= render "shared/hero" %>
</div>

<div class="flex flex-col py-10 bg-gray-100">
  <!-- todo -->
  <div class="content max-w-7xl mx-auto">
    <h5 class="w-full ml-4 tracking-tight font-extrabold text-gray-900 text-xl sm:text-2xl md:text-3xl">
      <span class="block xl:inline">Nos dernières annonces </span>
      <span class="block text-indigo-600 xl:inline">récompensées !</span>
    </h5>
    <p class="pt-2 text-base text-gray-500 sm:ml-4 sm:text-lg sm:max-w-xl sm:mx-auto md:text-xl">Trouvez l'acheteur et percevez la récompense ! </p>
    <div class="mt-8 grid gap-8 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4">
        <%= render "shared/post" %>
    </div>
  </div>


  <!-- Footer -->
  <%= render "shared/footer" %>
</div>
