<%= render "shared/nav" %>
<h1> Modification de l'annonce Immobilière: <%= @propertyad.id %></h1>

<%= render partial:'inputform' , locals: {propertyadmgt:@propertyadmgt} %>

<p>
    <a href="<%= propertyadmgts_path %>">Annuler</a>
</p>
