<%= render "shared/nav" %>
<h1> Création d'une annonce Immobilière</h1>

<%= render partial:'inputform' , locals: {propertyadmgt:@propertyadmgt} %>

<p>
    <a href="<%= propertyadmgts_path %>">Annuler</a>
</p>
