<!DOCTYPE html>
<html lang="fr" class="antialiased">
  <%= render "shared/head" %>

  <body>
    
    <%= render "shared/flash_notice" %>
    <%= content_for?(:content) ? yield(:content) : yield %>

  </body>
</html>
