<!DOCTYPE html>
<html lang="fr" class="antialiased">
  <%= render "shared/head" %>

  <body>
    <%= render "shared/flash_notice" %>
    <%= render "shared/header" %>

    <%= content_for?(:content) ? yield(:content) : yield %>

  </body>
</html>
